/*
 * SPDX-FileCopyrightText: 2025 Maximilian Franzke <mfr@nzke.net>
 *
 * SPDX-License-Identifier: MIT
 */

.test {
	color: red;
}
@media (width >= 768px) {
	.test {
		color: #00f;
	}
}
.test {
	background: white;
}
