/*
 * SPDX-FileCopyrightText: 2025 Maximilian Franzke <mfr@nzke.net>
 *
 * SPDX-License-Identifier: MIT
 */

.test {
	color: if(media(width >= 768px): #00f; else: red);
	background: if(style(--dark-mode): black; else: white);
}
