/*
 * SPDX-FileCopyrightText: 2025 Maximilian Franzke <mfr@nzke.net>
 *
 * SPDX-License-Identifier: MIT
 */

.multiple {
	color: red;
}
@media (width <= 768px) {
	.multiple {
		color: #00f;
	}
}
.multiple {
	background: none;
}
@supports (color: lab(50% 20 -30)) {
	.multiple {
		background: lab(50% 20 -30);
	}
}
