/*
 * SPDX-FileCopyrightText: 2025 Maximilian Franzke <mfr@nzke.net>
 *
 * SPDX-License-Identifier: MIT
 */

/* Header styles */
.header {
	background: #00f;
}

.conditional {
	color: if(media(width <= 768px): red; else: #00f);
}

/* Footer styles */
.footer {
	background: gray;
}
