/*
 * SPDX-FileCopyrightText: 2025 Maximilian Franzke <mfr@nzke.net>
 *
 * SPDX-License-Identifier: MIT
 */

/* Header styles */
.header {
	background: #00f;
}
.conditional {
	color: #00f;
}
@media (width <= 768px) {
	.conditional {
		color: red;
	}
}
/* Footer styles */
.footer {
	background: gray;
}
